.switch {
  display: flex;
  position: relative;
}

.switch__box {
  border-radius: 25px;
  border: 2px solid black;
  width: 50px;
  height: 30px;
  appearance: none;
  background-color: white;
  margin-right: 20px;
}

.switch__slider {
  border-radius: 20px;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  margin-right: 12px;
}

.switch__slider-C {
  left: 26px;
}

.switch__slider-F {
  right: 27px;
}

.switch__temp-F {
  position: absolute;
  top: -11px;
  left: 10px;
  color: white;
}

.switch__temp-C {
  position: absolute;
  top: -11px;
  right: 21px;
  color: white;
}

.switch__active {
  color: white;
}
