.header {
  display: flex;
  align-items: center;
  padding-top: 32px;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  background: rgba(243, 243, 243, 1);
  justify-content: space-between;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  color: rgba(0, 0, 0, 1);
  border: none;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: transparent;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__date-and-location {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  margin-top: 11px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  white-space: nowrap;
}

.header__actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.header__username {
  margin: 0;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.header__logo {
  margin-right: 24px;
  margin-top: 32px;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__signup {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin-left: none;
  margin-right: 20px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.header__login {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  border: none;
  margin-left: 0;
  margin-right: 20px;
  background: none;
  cursor: pointer;
}
