.clothes-section__header {
  display: flex;
  justify-content: left;
  gap: 20px;
  padding-top: 13px;
  margin-bottom: 20px;
  margin-top: 63px;
}

.clothes-section__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.clothes-section__buttons {
  display: flex;
  align-items: self-start;
  gap: 20px;
}

.clothes-section__add-item-btn {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  transition: 0.1s ease-in-out;
  opacity: 0.6;
}

.clothes-section__add-button:hover {
  cursor: pointer;
}

.clothes-section__items-title {
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
